<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="MemberDao">
 	<select id="selectMember" parameterType="String" resultType="com.victor.securityboard.member.domain.MemberVO">
 		SELECT *
 		FROM members
 		WHERE id=#{id}
 	</select>
    
    <select id="selectAuth" parameterType="String" resultType="com.victor.securityboard.member.domain.AuthorityVO">
 		SELECT *
 		FROM auths
 		WHERE id=#{id}
 	</select>
 	
 	<insert id="insertMember" parameterType="com.victor.securityboard.member.domain.MemberVO">
 		INSERT INTO members
 		(id,pw,name) VALUES(#{id},#{pw},#{name})
 	</insert>
 	
 	<insert id="insertAuth" parameterType="com.victor.securityboard.member.domain.AuthorityVO">
	 	INSERT INTO auths
	 	(id,auth) VALUES(#{id},#{auth})
 	</insert>
    
    <update id="updateMember" parameterType="com.victor.securityboard.member.domain.MemberVO">
    	UPDATE members
    	SET pw=#{pw}
    	WHERE id=#{id}
    </update>
</mapper>
